@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: cadetblue;
    background-image: url(./assets/imgs/El-Clima-hoy.webp);
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
}

.App{
    background-color: transparent;
    backdrop-filter: blur(10px);
    width: max-content;
    border-radius: 8px;
    position: relative;
    left: 37vw;
    top: 8vh;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 3px 20px black;
}
.button{
    background-color: darkcyan;
    color: black;
    border-radius: 8px;
    height: 50px;
    width: 100%;
    margin-top: 15px;
    cursor: pointer;
    font-family: inherit;
    font-size: 1.2rem;
    font-weight: 600;
    border: solid 1px darkcyan;
}
.button:hover{
    color: deepskyblue;
}
.ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 15px 0px;
    text-align: center;
    font-weight: 900;
}
.weather_info{
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
}
.temperature{
    text-align: center;
    font-size: 2rem;
    color: crimson;
}
.title{
    margin-bottom: 10px;
    text-align: center;
    color: deepskyblue;
}
.city{
    text-align: center;
    font-weight: 900;
    font-size: 2.5rem;
}
.icon_weater{
    display: flex;
    justify-content: center;
    align-items: center;
}

